__pycache__/

*.pyc

*.pyo

*.db

*.sqlite3

.env

venv/

.venv/

doctor/
knowledge_base/

node_modules/

*.wav
*.mp3

medical_report.pdf

uploads/

reports/

.gradio/

.vscode/

.idea/

Thumbs.db

.DS_Store